/* Estilos Globales para Decoraciones */
.decoration {
    position: absolute;
    pointer-events: none;
    /* Para que no interfiera con clicks */
    z-index: 10;
    /* Por encima del contenido (que suele ser 2) */
    display: block;
}

/* Decoración 1: Header - Arriba Derecha */
.decoration-1 {
    top: 0;
    right: 0;
    width: 700px;
    max-width: 40vw;
    height: auto;
    opacity: 0.9;
}

/* Decoración 2: Entre Estudios y Habilidades - Izquierda Grande */
.decoration-2 {
    top: -37%; /* Sube un poco para estar entre secciones */
    left: 10%;
    width: 35vw; /* Grande */
    max-width: 500px;
    height: auto;
    opacity: 0.9;
}

/* Decoración 3: Habilidades - Abajo Derecha */
.decoration-3 {
    bottom: 0;
    right: 0;
    width: 30vw;
    max-width: 600px;
    height: auto;
}

/* Decoración 4: Sección Óleo - Izquierda */
.decoration-4 {
    top: 23%;
    left: -2%;
    transform: translateY(-50%);
    width: 25vw;
    /* Tamaño ajustable según la imagen */
    max-width: fit-content;
    /* Responsivo */
    height: auto;
    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.1));
}

/* Decoración 5: Experiencia - Derecha Arriba */
.decoration-5 {
    top: -3%;
    right: 13%;
    width: 25vw;
    max-width: 350px;
    height: auto;
}

/* Decoración 6: Footer - Derecha */
.decoration-6 {
    top: -17%;
    right: 3%;
    width: 800px;
    max-width: 45vw;
    height: auto;
    opacity: 0.8;
}

@media (max-width: 768px) {
    
    .decoration-1 {
        width: 100%;
        max-width: fit-content;
    }
    .decoration-2 {
        top: -2%;
        left: -10%;
        width: 180px;
    }
    .decoration-3 {
        bottom: -5.5%;
        left: 5%;
        width: 150px;
    }
    .decoration-4 {
        top: 20.5%;
        left: -5%;
        width: 150px;
    }
    .decoration-5 {
        top: -5.5%;
        left: 50%;
        right: auto;
        width: 150px;
    }
    .decoration-6 {
        top: 42%;
        right: -47%;
        width: 500px;
        max-width: fit-content;
    }
}